.buttonStyles {
  background-color: #000;
  font-size: 3.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttonStyles:hover {
  background-color: #111;
}

.numberButton,
.actionButton {
  color: #fff;
}

.actionButton {
  color: #ff4500;
}

.calcButton {
  background-color: #ff4500;
  color: #fff;
}

.calcButton:hover {
  background-color: #872400;
}

.spanTwoColumns {
  grid-column: span 2;
}

.spanTwoRows {
  grid-row: span 2;
}
